* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
    background-color: green;
    padding: 10px;
  }

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.item1 {
    grid-row: 1 / 4;
}

.red {
    background: red;
}

.green {
    background: green;
}

.blue {
    background: blue;
}

.orange {
    background: orange;
}

.purple {
    background: purple;
}
